/node_modules
/public/hot
/public/storage
/public/downloads_temp/*
/public/js/app.js.LICENSE.txt
/storage/*.key
/storage/*Seed*
/storage/debugbar
/storage/app/public/media/*
/storage/app/public/downloads/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
composer.phar
.env
*.swp
.php_cs.cache
