.bashrc
.env
.env.old
.env.dev
.php_cs.cache
.composer
*.swp
/node_modules
/public/downloads_temp/*
/public/fonts/*
/public/storage
/public/js/app.js.LICENSE.txt
!/public/fonts/vendor/*
/storage/*.key
/storage/*Seed*
/storage/logs/*
/storage/mysql-data
/vendor
composer.phar
/data
docker-install
*.gz
*.sql
