// used in AJAX asynchronous requests
#spinner {
 border-top: 3px solid $brand-primary;
 border-bottom: 3px solid $brand-primary;
  border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s ease-in-out infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// used for displaying buttons as links in UserJobs
button.unstyle {
    background:none!important;
    border:none;
    padding:0!important;
    color: $brand-primary;
    /*border is optional*/
}

button.unstyle:hover {
	color: darken($brand-primary, 10%);
}

// used in Location screens
.form-control.latlongpicker { display:inline; width: 20%; }
.form-control.partdatepicker { display:inline; width: 25%; }

// used in forms to group input in a relevant way
.group-together {
    border: 1px #7f8284 dashed;
    padding: 5px;
    margin-right: 5px;
}

// used for MultipleSelectors (specialists in Edit Person)
.multiselector { display: inline-block; border: 1px dashed; padding: 2px; margin: 5px; cursor: pointer; }
.multiselector:after { font-family: "Glyphicons Halflings"; content: "\e014"; padding-left: 3px; }

// Used in autocomplete plugin
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

span.large { font-size: large; }
