a {
  text-decoration: none;
  color: #3097D1;
}

.btn-success, .btn-primary, .btn-danger, .btn-warning {
  color: #ffff;
}

.odb-unstyle {
  color: #7f8284;
  text-decoration: none;
}
.odb-unstyle:hover {
	color: #0d6efd;
}
.odb-hint {
  padding: 5px;
  color: #7f8284;
  font-size: 0.9rem;
}
.odb-border-card {
  border-color: #7f8284;
  border-radius: 15px;
  border-width: 2px;
}

#odb-bntPgTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 0.9rem;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
#odbbntPgTop:hover {
  background-color: #555;
}

.dt-odb {
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: lighter;
}

#spinner, .spinner {
    border-top: 3px solid #0d6efd;
    border-bottom: 3px solid #0d6efd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s ease-in-out infinite;
    display: none;
}

.spinner.minispinner {
    position: relative;
    float: right;
    width: 10px;
    height: 10px;
    left: -10px;
    top: -24px;
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

// used for displaying buttons as links in UserJobs
button.unstyle {
    background:none!important;
    border:none;
    padding:0!important;
    color: #0d6efd;
    /*border is optional*/
}

button.unstyle:hover {
	color: darken(#0d6efd, 20%);
}

// used in Location screens
.form-control.latlongpicker { display:inline; width: 20%;}
.form-select.partdatepicker { display:inline; width: 25%; }

// used in forms to group input in a relevant way
.group-together {
    border: 1px #7f8284 dashed;
    padding: 5px;
    margin-right: 5px;
}

// used for MultipleSelectors (specialists in Edit Person)
.multiselector { display: inline-block; border: 1px dashed; padding: 2px; margin: 5px; cursor: pointer; }
.multiselector:after { font-family: "Font Awesome 5 Free"; content: "\f057"; padding-left: 3px; }

// Used in autocomplete plugin
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; overflow: hidden; cursor: pointer; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.large { font-size: x-large; font-weight: bold; }

input.autocomplete, input.multiselect { border: 1px solid #5555FF }

.mandatory { color: #a36b6f; }

.picture {
    max-width: calc(100%);
    max-height: 700px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

// ""thumbnail"" for color trait measurements
.measurement-thumb {
	width: 16px;
	height: 16px;
	margin: 0px;
	display: inline-block;
	border: solid 1px #d0d0d0;
}
.sp-palette-container {
    border: none!important;
}


// openlayers popup
.ol-popup {
    position: absolute;
    min-width: 200px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    font-size: 12pt;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

.layer-switcher.shown {
    max-height: 500px;
}

/* definitions of header and navbar */
