
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;

$card-border-color: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;
// Panels
//$panel-default-heading-bg: #fff;

//can generate here https://huemint.com/bootstrap-basic/
//$white: #fffffc;
$theme-colors: (
    "light":      #ddd3d0,
    "dark":       #0f0d08,
    "primary":    #3097D1, //#0001ff,
    "secondary":  #535357,
    "info":       #8eb4cb, //#6c6b68,
    "success":    #2ab27b, //#009758,
    "warning":    #cbb956, //#ddc800,
    "danger":     #bf5329, //#ea1d00,
    "odbgray":    #7f8284,
    "odbwhite":   #fffffc,
);

// Brands
//$brand-primary: #3097D1;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;

// Typography
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Buttons
$btn-default-color: $text-color;


// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten(#0d6efd, 25%);
$input-color-placeholder: lighten($text-color, 30%);
